userdebug_or_eng(`
  allow hal_rcsservice diag_device:chr_file rw_file_perms;
')

dontaudit hal_rcsservice diag_device:chr_file rw_file_perms;

# add imsfactory to HIDl interface
add_hwservice(hal_rcsservice, hal_imsfactory_hwservice)
